.new-game {
    background: none;
    border: 2px solid #fff;
    padding: 6px 12px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    cursor: url("../public/league\ of\ legends\ legacy.png"), auto;
    margin-top: 20px;
}
  
.new-game:hover {
    background: #41accf;
    color: #d53f3f;
}

.card-grid {
    margin: auto auto;
    max-width: 35%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.turns {
    font-size: 1.5em;
}

@media screen and (max-width: 900px) {
    .card-grid {
        max-width: 70%;
        margin-top: 40px;
    }
    .turns {
        font-size: 2.0em;
    }
}

@media screen and (max-width: 400px) {
    .card-grid {
        max-width: 90%;
        margin-top: 30px;
    }
    .turns {
        font-size: 2.5em;
    }
}